<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link href="/css/commons.css" rel="stylesheet">
    {{ bundle.css }}


</head>

<body>

    {{{ content }}}

    <script src="/js/commons.bundle.js" charset="utf-8"></script>
    {{ bundle.js }}

</body>

</html>
